In [1]:
import pandas as pd
import numpy as np

In [2]:
a=np.array([[3,5,6],[23,6,8]])
df=pd.DataFrame(a)
df.rename(columns={0:'A',1:'B',2:'C'},inplace=True)
display(df)

    A  B  C
0   3  5  6
1  23  6  8

In [3]:
display(df.set_index('A'))
display(df.set_index(['A','B']))

    B  C
A
3   5  6
23  6  8

      C
A  B
3  5  6
23 6  8

In [4]:
df

    A  B  C
0   3  5  6
1  23  6  8

In [5]:
l1=[3,5,7,8]
b=pd.Series(l1)
display(b)
l2=[3,1,5,7]
a=pd.Series(l2)

a.index=['A',2,3,4]
display(a)
display(a+b)

0    3
1    5
2    7
3    8
dtype: int64

A    3
2    1
3    5
4    7
dtype: int64

0     NaN
1     NaN
2     8.0
3    13.0
4     NaN
A     NaN
dtype: float64