In [1]:
import numpy as np
import pandas as pd
from datetime import datetime

In [2]:
date1=datetime(2022,1,3)

In [3]:
date1

datetime.datetime(2022, 1, 3, 0, 0)

In [4]:
date1_time=datetime(2023,1,5,23,12)

In [5]:
date1_time

datetime.datetime(2023, 1, 5, 23, 12)

In [6]:
class timee():
    def __init__(self,y,m,d,h,mi):
        self.year=y
        self.month=m
        self.date=d
        self.hour=h
        self.minute=mi

In [7]:
tt=timee(2021,4,15,4,2)

In [8]:
tt.minute

2

In [9]:
dt2=datetime.now()

In [10]:
dt2

datetime.datetime(2023, 3, 23, 23, 24, 41, 615908)

pandas timstamp

In [11]:
dtstamp=pd.Timestamp('2021-5-11')

In [12]:
dtstamp

Timestamp('2021-05-11 00:00:00')

In [13]:
dtstamp1=pd.Timestamp('2:23')

In [14]:
dtstamp1

Timestamp('2023-03-23 02:23:00')

In [15]:
dtstampnow=pd.Timestamp('now')

In [16]:
dtstampnow

Timestamp('2023-03-23 23:24:41.774087')

In [17]:
dtstamp1=pd.Timestamp.now()

In [18]:
dtstamp1

Timestamp('2023-03-23 23:24:41.837920')

Time Delta to create difference in two timestamps

In [19]:
dte1=pd.Timedelta(days=1)

In [20]:
dte1

Timedelta('1 days 00:00:00')

In [21]:
dtstampnow

Timestamp('2023-03-23 23:24:41.774087')

In [22]:
a=dtstampnow+dte1

In [23]:
a

Timestamp('2023-03-24 23:24:41.774087')

In [24]:
dt2

datetime.datetime(2023, 3, 23, 23, 24, 41, 615908)

In [25]:
b=dt2+dte1
b

datetime.datetime(2023, 3, 24, 23, 24, 41, 615908)

In [26]:
date1=datetime(2021,3,11)
date2=datetime(2021,3,15)
date2-date1

datetime.timedelta(days=4)

In [27]:
date3=pd.Timedelta(weeks=1)

In [28]:
date3

Timedelta('7 days 00:00:00')

In [29]:
date1

datetime.datetime(2021, 3, 11, 0, 0)

In [30]:
date1+date3

datetime.datetime(2021, 3, 18, 0, 0)

In [31]:
date1-date3

datetime.datetime(2021, 3, 4, 0, 0)

In [32]:
display(date1)
a=pd.datetime(2021, 3, 16, 0, 0)

datetime.datetime(2021, 3, 11, 0, 0)

C:\Users\mtalh\AppData\Local\Temp\ipykernel_12460\61819322.py:2: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  a=pd.datetime(2021, 3, 16, 0, 0)

In [33]:
date1-a

datetime.timedelta(days=-5)

# DatetimeIndex
Sequences of timestamp objects are represented by pandas as DatetimeIndex,
which is a type of pandas index that is optimized for indexing by date and time.
There are several ways to create DatetimeIndex objects in pandas. The following
creates a DateTimeindex by passing a list of datetime objects as Series:

In [34]:
datetime12=[datetime(2023,2,1),datetime(2023,2,2)]
a=pd.Series(np.random.randn(2),datetime12)
display(a)

2023-02-01   -0.136086
2023-02-02    0.294339
dtype: float64

In [35]:
a.index

DatetimeIndex(['2023-02-01', '2023-02-02'], dtype='datetime64[ns]', freq=None)

In [36]:
a.values

array([-0.13608555,  0.29433881])

In [37]:
a=pd.to_datetime(['2023-2-1','23 August 2021',None])

In [38]:
a

DatetimeIndex(['2023-02-01', '2021-08-23', 'NaT'], dtype='datetime64[ns]', freq=None)

In [39]:
pd.to_datetime('2012-3-7')

Timestamp('2012-03-07 00:00:00')

In [40]:
for i in a:
    print(i)

2023-02-01 00:00:00
2021-08-23 00:00:00
NaT

# Date Range

In [41]:
per=pd.date_range('2023-2-1',periods=8)
np.random.seed(2)
rr=pd.Series(np.random.randn(8),index=per)
# rr=pd.Series(np.random.randint(8),index=per)
display(rr)

2023-02-01   -0.416758
2023-02-02   -0.056267
2023-02-03   -2.136196
2023-02-04    1.640271
2023-02-05   -1.793436
2023-02-06   -0.841747
2023-02-07    0.502881
2023-02-08   -1.245288
Freq: D, dtype: float64

In [42]:
# per=pd.date_range(start='2022/2/5' ,end='2022/2/15',freq='3d')
# per=pd.date_range(start='2022/2/5' ,end='2022/2/15',freq='1w')
# per=pd.date_range(start='2022/2/5' ,end='2022/4/15',freq='d')
per=pd.date_range(start='2022/2/5' ,end='2022/5/15',freq='m')

In [43]:
per

DatetimeIndex(['2022-02-28', '2022-03-31', '2022-04-30'], dtype='datetime64[ns]', freq='M')

In [44]:
for i in per:
    print(i)

2022-02-28 00:00:00
2022-03-31 00:00:00
2022-04-30 00:00:00

In [45]:
np.random.seed(3)
b=pd.Series(np.random.randn(len(per)),per)

In [46]:
b

2022-02-28    1.788628
2022-03-31    0.436510
2022-04-30    0.096497
Freq: M, dtype: float64

In [47]:
display(b[1:3])
display(b[1:2])

2022-03-31    0.436510
2022-04-30    0.096497
Freq: M, dtype: float64

2022-03-31    0.43651
Freq: M, dtype: float64

In [48]:
a=pd.date_range('2022-2-28',periods=5)
np.random.seed(3)
a1=pd.Series(np.random.randn(len(a)),a)
a1

2022-02-28    1.788628
2022-03-01    0.436510
2022-03-02    0.096497
2022-03-03   -1.863493
2022-03-04   -0.277388
Freq: D, dtype: float64

In [49]:
display(per)
np.random.seed(2)
a2=pd.Series(np.random.randn(len(per)),per)
display(a2)

DatetimeIndex(['2022-02-28', '2022-03-31', '2022-04-30'], dtype='datetime64[ns]', freq='M')

2022-02-28   -0.416758
2022-03-31   -0.056267
2022-04-30   -2.136196
Freq: M, dtype: float64

In [50]:
p=a2+a1
p

2022-02-28    1.371871
2022-03-01         NaN
2022-03-02         NaN
2022-03-03         NaN
2022-03-04         NaN
2022-03-31         NaN
2022-04-30         NaN
dtype: float64

In [51]:
p['2022-02-28':'2022-03-03']

2022-02-28    1.371871
2022-03-01         NaN
2022-03-02         NaN
2022-03-03         NaN
dtype: float64

In [56]:
# aa=pd.Series(0,pd.date_range('2022-1-1','2023-12-31'))
aa=pd.Series(np.random.randn(730),pd.date_range('2022-1-1','2023-12-31'))
display(aa)
display(aa.size)

2022-01-01   -1.022988
2022-01-02    0.789523
2022-01-03   -0.080748
2022-01-04   -1.387169
2022-01-05   -0.276666
                ...
2023-12-27    0.392173
2023-12-28    0.578761
2023-12-29   -1.432873
2023-12-30   -0.568116
2023-12-31   -0.294323
Freq: D, Length: 730, dtype: float64

730

In [57]:
aa['2022-1']

2022-01-01   -1.022988
2022-01-02    0.789523
2022-01-03   -0.080748
2022-01-04   -1.387169
2022-01-05   -0.276666
2022-01-06    0.082822
2022-01-07   -1.087395
2022-01-08    0.702014
2022-01-09   -0.356136
2022-01-10    0.431989
2022-01-11   -1.017863
2022-01-12    0.287747
2022-01-13    0.704451
2022-01-14   -0.462866
2022-01-15   -0.214453
2022-01-16   -0.592967
2022-01-17    0.311604
2022-01-18    0.010034
2022-01-19    0.478805
2022-01-20   -0.080306
2022-01-21   -1.292224
2022-01-22   -1.333404
2022-01-23   -0.469841
2022-01-24    0.440207
2022-01-25    2.242663
2022-01-26    0.848821
2022-01-27   -0.633261
2022-01-28   -2.045867
2022-01-29    0.494494
2022-01-30   -0.001953
2022-01-31   -1.231664
Freq: D, dtype: float64

In [58]:
aa['2022-1':'2022-3']

2022-01-01   -1.022988
2022-01-02    0.789523
2022-01-03   -0.080748
2022-01-04   -1.387169
2022-01-05   -0.276666
                ...
2022-03-27   -0.848414
2022-03-28   -1.358454
2022-03-29   -0.202841
2022-03-30    0.671147
2022-03-31   -0.309983
Freq: D, Length: 90, dtype: float64

In [84]:
bb=pd.Series(np.random.randn(128161),pd.date_range('2022-1-1','2022-3-31 00:00',freq='T'))
bb

2022-01-01 00:00:00    1.189179
2022-01-01 00:01:00   -0.259662
2022-01-01 00:02:00   -0.446317
2022-01-01 00:03:00    0.340034
2022-01-01 00:04:00   -0.066646
                         ...
2022-03-30 23:56:00   -1.330006
2022-03-30 23:57:00    0.468093
2022-03-30 23:58:00   -1.093634
2022-03-30 23:59:00   -0.990691
2022-03-31 00:00:00    0.310933
Freq: T, Length: 128161, dtype: float64