In [2]:
import numpy as np
import pandas as pd

In [3]:
l1=[2,4,6,7]
pd.DataFrame(l1)

   0
0  2
1  4
2  6
3  7

In [4]:
l1=[2,4,6,7]
pd.DataFrame([l1])

   0  1  2  3
0  2  4  6  7

In [7]:
l1=[2,4,7],[4,7,9]
pd.DataFrame(l1)

   0  1  2
0  2  4  7
1  4  7  9

In [8]:
l1=[[2,4,7],[4,7,9]]
pd.DataFrame(l1)

   0  1  2
0  2  4  7
1  4  7  9

In [10]:
arr=np.arange(10).reshape(2,5)
display(arr)
display(pd.DataFrame(arr))

array([[0, 1, 2, 3, 4],
       [5, 6, 7, 8, 9]])

   0  1  2  3  4
0  0  1  2  3  4
1  5  6  7  8  9

In [20]:
# dict1={'Name':['Talha','Ali'],'RollNumber':[3,6]}
# display(pd.DataFrame(dict1))
# display(pd.DataFrame({'Name':['Talha','Joiya'],'RollNum':[2,7]}))

    Name  RollNum
0  Talha        2
1  Joiya        7