In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_excel('data.xlsx')
display(data)

   ids     Name  Age Designation  Grade  Dept Salary
0   11    Talha   22     Officer     17        20000
1   23      Ali   33     Officer     17        30000
2   45     Zayn   65      Manger     14        40000
3   32   Younus   33        Boss     18        60000
4   44  Tanveer   23   Suervisor     19        12000
5   76     Safi   12  Supervisor     18        40333
6   44    Usman   22     Officer     14        23456

In [3]:
designation_group=data.groupby('Designation')
designation_group

In [4]:
designation_group=data.groupby('Designation').groups
designation_group

{'Boss': [3], 'Manger': [2], 'Officer': [0, 1, 6], 'Suervisor': [4], 'Supervisor': [5]}

In [5]:
designation_group=data.groupby('Designation')
designation_group.groups

{'Boss': [3], 'Manger': [2], 'Officer': [0, 1, 6], 'Suervisor': [4], 'Supervisor': [5]}

In [6]:
designation_group.get_group('Officer')

   ids   Name  Age Designation  Grade  Dept Salary
0   11  Talha   22     Officer     17        20000
1   23    Ali   33     Officer     17        30000
6   44  Usman   22     Officer     14        23456

In [7]:
group_GRade=data.groupby('Grade')
group_GRade.groups

{14: [2, 6], 17: [0, 1], 18: [3, 5], 19: [4]}

In [8]:
group_GRade.get_group(17)

   ids   Name  Age Designation  Grade  Dept Salary
0   11  Talha   22     Officer     17        20000
1   23    Ali   33     Officer     17        30000

In [9]:
designation_grade_group=data.groupby(['Designation','Grade'])

In [10]:
designation_grade_group.groups

{('Boss', 18): [3], ('Manger', 14): [2], ('Officer', 14): [6], ('Officer', 17): [0, 1], ('Suervisor', 19): [4], ('Supervisor', 18): [5]}

In [11]:
designation_grade_group.get_group(('Officer', 17))

   ids   Name  Age Designation  Grade  Dept Salary
0   11  Talha   22     Officer     17        20000
1   23    Ali   33     Officer     17        30000

In [12]:
designation_grade_group.get_group(('Boss', 18))

   ids    Name  Age Designation  Grade  Dept Salary
3   32  Younus   33        Boss     18        60000

In [13]:
designation_grade_group.agg('mean')

                    ids   Age  Dept Salary
Designation Grade
Boss        18     32.0  33.0      60000.0
Manger      14     45.0  65.0      40000.0
Officer     14     44.0  22.0      23456.0
            17     17.0  27.5      25000.0
Suervisor   19     44.0  23.0      12000.0
Supervisor  18     76.0  12.0      40333.0

In [14]:
designation_grade_group.agg('mean')['ids']

Designation  Grade
Boss         18       32.0
Manger       14       45.0
Officer      14       44.0
             17       17.0
Suervisor    19       44.0
Supervisor   18       76.0
Name: ids, dtype: float64

In [15]:
designation_grade_group.ids.agg('mean')

Designation  Grade
Boss         18       32.0
Manger       14       45.0
Officer      14       44.0
             17       17.0
Suervisor    19       44.0
Supervisor   18       76.0
Name: ids, dtype: float64

In [16]:
display(designation_group.groups)
display(designation_group.get_group('Boss'))
display(designation_group.describe())
display(designation_group.agg({'Age':np.min,'Dept Salary':np.max}))

{'Boss': [3], 'Manger': [2], 'Officer': [0, 1, 6], 'Suervisor': [4], 'Supervisor': [5]}

   ids    Name  Age Designation  Grade  Dept Salary
3   32  Younus   33        Boss     18        60000

              ids                                                  Age  \
            count  mean        std   min   25%   50%   75%   max count
Designation
Boss          1.0  32.0        NaN  32.0  32.0  32.0  32.0  32.0   1.0
Manger        1.0  45.0        NaN  45.0  45.0  45.0  45.0  45.0   1.0
Officer       3.0  26.0  16.703293  11.0  17.0  23.0  33.5  44.0   3.0
Suervisor     1.0  44.0        NaN  44.0  44.0  44.0  44.0  44.0   1.0
Supervisor    1.0  76.0        NaN  76.0  76.0  76.0  76.0  76.0   1.0

                        ... Grade       Dept Salary                \
                  mean  ...   75%   max       count          mean
Designation             ...
Boss         33.000000  ...  18.0  18.0         1.0  60000.000000
Manger       65.000000  ...  14.0  14.0         1.0  40000.000000
Officer      25.666667  ...  17.0  17.0         3.0  24485.333333
Suervisor    23.000000  ...  19.0  19.0         1.0  12000.000000
Supervisor   12.000000  ...  18.0  18.0         1.0  40333.000000


                     std      min      25%      50%      75%      max
Designation
Boss                 NaN  60000.0  60000.0  60000.0  60000.0  60000.0
Manger               NaN  40000.0  40000.0  40000.0  40000.0  40000.0
Officer      5078.842913  20000.0  21728.0  23456.0  26728.0  30000.0
Suervisor            NaN  12000.0  12000.0  12000.0  12000.0  12000.0
Supervisor           NaN  40333.0  40333.0  40333.0  40333.0  40333.0

[5 rows x 32 columns]

             Age  Dept Salary
Designation
Boss          33        60000
Manger        65        40000
Officer       22        30000
Suervisor     23        12000
Supervisor    12        40333

In [17]:
order_leads = pd.read_csv(
    'https://raw.githubusercontent.com/FBosler/Medium-Data-Exploration/master/order_leads.csv',
    parse_dates = [3]
)
sales_team = pd.read_csv(
    'https://raw.githubusercontent.com/FBosler/Medium-Data-Exploration/master/sales_team.csv',
    
)

In [18]:
display(order_leads.columns)

Index(['Order Id', 'Company Id', 'Company Name', 'Date', 'Order Value',
       'Converted'],
      dtype='object')

In [19]:
display(sales_team.columns)

Index(['Sales Rep', 'Sales Rep Id', 'Company Name', 'Company Id'], dtype='object')

In [20]:
order_leads['Company Name'].value_counts()

80Th Scorecard                      41
Contemporary Gardenia               39
Smashed-Out Intercept               39
Shrill Co-Op                        39
Geometric Abbot                     37
                                    ..
Unkempt Cop                          8
Despondent Knife-Grinder             8
Wee Song                             8
Hypothalamic-Cortical Leatherman     8
Above-Noted Flanders                 5
Name: Company Name, Length: 4619, dtype: int64

In [21]:
order_leads.head()

,Order Id,Company Id,Company Name,Date,Order Value,Converted
0,HZSXLI1IS9RGABZW,D0AUXPP07H6AVSGD,Melancholy Social-Role,2017-10-13,6952,0
1,582WPS3OW8T6YT0R,D0AUXPP07H6AVSGD,Melancholy Social-Role,2017-09-02,7930,0
2,KRF65MQZBOYG4Y9T,D0AUXPP07H6AVSGD,Melancholy Social-Role,2016-12-21,5538,1
3,N3EDZ5V1WGSWW828,D0AUXPP07H6AVSGD,Melancholy Social-Role,2018-06-03,1113,0
4,QXBC8COXEXGFSPLP,D0AUXPP07H6AVSGD,Melancholy Social-Role,2014-07-26,4596,0

In [22]:
order_leads.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Order Id      100000 non-null  object
 1   Company Id    100000 non-null  object
 2   Company Name  100000 non-null  object
 3   Date          100000 non-null  datetime64[ns]
 4   Order Value   100000 non-null  int64
 5   Converted     100000 non-null  int64
dtypes: datetime64[ns](1), int64(2), object(3)
memory usage: 4.6+ MB

In [23]:
sales_team.head()

        Sales Rep      Sales Rep Id            Company Name        Company Id
0  William Taylor  ZTZA0ZLYZR85PTUJ  Melancholy Social-Role  D0AUXPP07H6AVSGD
1  William Taylor  ZTZA0ZLYZR85PTUJ          Pee-Wee Pigeon  TJW99R4RWH02INII
2  William Taylor  ZTZA0ZLYZR85PTUJ     Vaginal 36-Year-Old  3S20IO1O1DYXMUNU
3  William Taylor  ZTZA0ZLYZR85PTUJ    Unhurried Musician'S  FDWW0TQRPGMVI2A7
4  William Taylor  ZTZA0ZLYZR85PTUJ     Comprehensive Lists  C30FY83UNLVBA0O3

In [24]:
sales_team.value_counts()

Sales Rep          Sales Rep Id      Company Name             Company Id
Aaron Hendrickson  AEMLQ09IYM72ACBL  6-Foot Homosexuals       OBO1IDFAZIVFRG9A    1
Nancy Shorter      G99RFBBAJ2PX39K2  Nonspecific Brigadoon    3YSHEWGJRF7WB7KH    1
Mildred Vest       WJ34LXDCZWOF47U2  Chipper Tabernacles      TO0D263CK6STSGZN    1
                                     Chicago-Style Drawings   87KMD3BSCH6VUR62    1
                                     Black-Clad Paratroopers  9OYUQML6U2G1YCHR    1
                                                                                 ..
Gordon Harris      2LA5ID42LHQ98UEU  Goggle-Eyed Michaelson   12TNGGJQQLES865V    1
                                     Extensive Jealousies     GU530FVMO8H72TTP    1
                                     Creative 5/64''          SZLSWNJ9Z864U2NI    1
                                     Above-Mentioned Niger    N6C72P7XF8WYZM7U    1
Yvonne Lindsey     LBSKFCGCB0IZTMWN  Shrill Co-Op             IGOZET5TU8NF7FX0    1
Length: 4619, dtype: int64

In [25]:
order_leads.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Order Id      100000 non-null  object
 1   Company Id    100000 non-null  object
 2   Company Name  100000 non-null  object
 3   Date          100000 non-null  datetime64[ns]
 4   Order Value   100000 non-null  int64
 5   Converted     100000 non-null  int64
dtypes: datetime64[ns](1), int64(2), object(3)
memory usage: 4.6+ MB

In [26]:
sales_team.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4619 entries, 0 to 4618
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Sales Rep     4619 non-null   object
 1   Sales Rep Id  4619 non-null   object
 2   Company Name  4619 non-null   object
 3   Company Id    4619 non-null   object
dtypes: object(4)
memory usage: 144.5+ KB

In [27]:
df=pd.merge(order_leads,sales_team,on=['Company Name','Company Id'])
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100000 entries, 0 to 99999
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Order Id      100000 non-null  object
 1   Company Id    100000 non-null  object
 2   Company Name  100000 non-null  object
 3   Date          100000 non-null  datetime64[ns]
 4   Order Value   100000 non-null  int64
 5   Converted     100000 non-null  int64
 6   Sales Rep     100000 non-null  object
 7   Sales Rep Id  100000 non-null  object
dtypes: datetime64[ns](1), int64(2), object(5)
memory usage: 6.9+ MB

In [28]:
df.rename(columns={'Order Value':'Val','Converted':'Sale'},inplace=True)

In [29]:
df.head(3)

,Order Id,Company Id,Company Name,Date,Val,Sale,Sales Rep,Sales Rep Id
0,HZSXLI1IS9RGABZW,D0AUXPP07H6AVSGD,Melancholy Social-Role,2017-10-13,6952,0,William Taylor,ZTZA0ZLYZR85PTUJ
1,582WPS3OW8T6YT0R,D0AUXPP07H6AVSGD,Melancholy Social-Role,2017-09-02,7930,0,William Taylor,ZTZA0ZLYZR85PTUJ
2,KRF65MQZBOYG4Y9T,D0AUXPP07H6AVSGD,Melancholy Social-Role,2016-12-21,5538,1,William Taylor,ZTZA0ZLYZR85PTUJ

In [30]:
aa=df.groupby(df['Sales Rep'].str.split(' ').str[0])
display(aa)

In [31]:
display(aa.size().sort_values(ascending=False))
display(aa.size())
display(aa.groups)

Sales Rep
John       2970
Robert     2307
David      2258
James      1647
Michael    1489
           ...
Ginger       19
Russell      19
Viola        18
Alfredo      17
Simon        15
Length: 318, dtype: int64

Sales Rep
Aaron        292
Adam         324
Adele        115
Adrian       369
Adrianna      37
            ...
Wesley       144
Wilbert      213
William     1393
Willie       448
Yvonne       141
Length: 318, dtype: int64

{'Aaron': [25612, 25613, 25614, 25615, 25616, 25617, 25618, 25619, 25620, 25621, 25622, 25623, 25624, 25625, 25626, 25627, 25628, 25629, 25630, 25631, 25632, 25633, 25634, 25635, 25636, 25637, 25638, 25639, 25640, 25641, 25642, 25643, 25644, 25645, 25646, 25647, 25648, 25649, 25650, 25651, 25652, 25653, 25654, 25655, 25656, 25657, 25658, 25659, 25660, 25661, 25662, 25663, 25664, 25665, 25666, 25667, 25668, 25669, 25670, 25671, 25672, 25673, 25674, 25675, 25676, 25677, 25678, 25679, 25680, 25681, 25682, 25683, 25684, 25685, 25686, 25687, 25688, 25689, 25690, 25691, 25692, 25693, 25694, 25695, 25696, 25697, 25698, 25699, 25700, 25701, 25702, 25703, 25704, 25705, 25706, 25707, 25708, 25709, 25710, 25711, ...], 'Adam': [67140, 67141, 67142, 67143, 67144, 67145, 67146, 67147, 67148, 67149, 67150, 67151, 67152, 67153, 67154, 67155, 67156, 67157, 67158, 67159, 67160, 67161, 67162, 67163, 67164, 67165, 67166, 67167, 67168, 67169, 67170, 67171, 67172, 67173, 67174, 67175, 67176, 67177, 67178, 67179, 67180, 67181, 67182, 67183, 67184, 67185, 67186, 67187, 67188, 67189, 67190, 67191, 67192, 67193, 67194, 67195, 67196, 67197, 67198, 67199, 67200, 67201, 67202, 67203, 67204, 67205, 67206, 67207, 67208, 67209, 67210, 67211, 67212, 67213, 67214, 67215, 67216, 67217, 67218, 67219, 67220, 67221, 67222, 67223, 67224, 67225, 67226, 67227, 67228, 67229, 67230, 67231, 67232, 67233, 67234, 67235, 67236, 67237, 67238, 67239, ...], 'Adele': [90915, 90916, 90917, 90918, 90919, 90920, 90921, 90922, 90923, 90924, 90925, 90926, 90927, 90928, 90929, 90930, 90931, 90932, 90933, 90934, 90935, 90936, 90937, 90938, 90939, 90940, 90941, 90942, 90943, 90944, 90945, 90946, 90947, 90948, 90949, 90950, 90951, 90952, 90953, 90954, 90955, 90956, 90957, 90958, 90959, 90960, 90961, 90962, 90963, 90964, 90965, 90966, 90967, 90968, 90969, 90970, 90971, 90972, 90973, 90974, 90975, 90976, 90977, 90978, 90979, 90980, 90981, 90982, 90983, 90984, 90985, 90986, 90987, 90988, 90989, 90990, 90991, 90992, 90993, 90994, 90995, 90996, 90997, 90998, 90999, 91000, 91001, 91002, 91003, 91004, 91005, 91006, 91007, 91008, 91009, 91010, 91011, 91012, 91013, 91014, ...], 'Adrian': [31483, 31484, 31485, 31486, 31487, 31488, 31489, 31490, 31491, 31492, 31493, 31494, 31495, 31496, 31497, 31498, 31499, 31500, 31501, 31502, 31503, 31504, 31505, 31506, 31507, 31508, 31509, 31510, 31511, 31512, 31513, 31514, 31515, 31516, 31517, 31518, 31519, 31520, 31521, 31522, 31523, 31524, 31525, 31526, 31527, 31528, 31529, 31530, 31531, 31532, 31533, 31534, 31535, 31536, 31537, 31538, 31539, 31540, 31541, 31542, 31543, 31544, 31545, 31546, 31547, 31548, 31549, 31550, 31551, 31552, 31553, 31554, 31555, 31556, 31557, 31558, 31559, 31560, 31561, 31562, 31563, 31564, 31565, 31566, 31567, 31568, 31569, 31570, 31571, 31572, 31573, 31574, 31575, 31576, 31577, 31578, 31579, 31580, 31581, 31582, ...], 'Adrianna': [3368, 3369, 3370, 3371, 3372, 3373, 3374, 3375, 3376, 3377, 3378, 3379, 3380, 3381, 3382, 3383, 3384, 3385, 3386, 3387, 3388, 3389, 3390, 3391, 3392, 3393, 3394, 3395, 3396, 3397, 3398, 3399, 3400, 3401, 3402, 3403, 3404], 'Ahmad': [44306, 44307, 44308, 44309, 44310, 44311, 44312, 44313, 44314, 44315, 44316, 44317, 44318, 44319, 44320, 44321, 44322, 44323, 44324, 44325, 44326, 44327, 44328, 44329, 44330, 44331, 44332, 44333, 44334, 44335, 44336, 44337, 44338, 44339, 44340, 44341, 44342, 44343, 44344, 44345, 44346, 44347, 44348, 44349, 44350, 44351, 44352, 44353, 44354, 44355, 44356, 44357, 44358, 44359, 44360, 44361, 44362, 44363, 44364, 44365, 44366, 44367, 44368, 44369, 44370, 44371, 44372, 44373, 44374, 44375, 44376, 44377, 44378, 44379, 44380, 44381, 44382, 44383, 44384, 44385, 44386, 44387, 44388, 44389, 44390, 44391, 44392, 44393, 44394, 44395, 44396, 44397, 44398, 44399, 44400, 44401, 44402, 44403, 44404, 44405, ...], 'Albert': [26755, 26756, 26757, 26758, 26759, 26760, 26761, 26762, 26763, 26764, 26765, 26766, 26767, 26768, 26769, 26770, 26771, 26772, 26773, 26774, 26775, 26776, 26777, 26778, 26779, 26780, 26781, 26782, 26783, 26784, 26785, 26786, 26787, 26788, 26789, 26790, 26791, 26792, 26793, 26794, 26795, 26796, 26797, 26798, 26799, 26800, 26801, 26802, 26803, 26804, 26805, 26806, 26807, 26808, 26809, 26810, 26811, 26812, 26813, 26814], 'Alease': [91425, 91426, 91427, 91428, 91429, 91430, 91431, 91432, 91433, 91434, 91435, 91436, 91437, 91438, 91439, 91440, 91441, 91442, 91443, 91444, 91445, 91446, 91447, 91448, 91449, 91450, 91451, 91452, 91453, 91454, 91455, 91456, 91457, 91458, 91459, 91460, 91461, 91462, 91463, 91464, 91465, 91466, 91467, 91468, 91469, 91470, 91471, 91472, 91473, 91474, 91475, 91476, 91477, 91478, 91479, 91480, 91481, 91482, 91483, 91484, 91485, 91486, 91487, 91488, 91489, 91490, 91491, 91492, 91493, 91494, 91495, 91496, 91497, 91498, 91499, 91500, 91501, 91502, 91503, 91504, 91505, 91506, 91507, 91508, 91509, 91510, 91511, 91512, 91513, 91514, 91515, 91516, 91517, 91518, 91519, 91520, 91521, 91522, 91523, 91524, ...], 'Alejandro': [43508, 43509, 43510, 43511, 43512, 43513, 43514, 43515, 43516, 43517, 43518, 43519, 43520, 43521, 43522, 43523, 43524, 43525, 43526, 43527, 43528, 43529, 43530, 43531, 43532, 43533, 43534, 43535, 43536, 43537, 43538, 43539, 43540, 43541, 43542, 43543, 43544, 43545, 43546, 43547, 43548, 43549, 43550, 43551, 43552, 43553, 43554, 43555, 43556, 43557, 43558, 43559, 43560, 43561, 43562, 43563, 43564], 'Alfredo': [54004, 54005, 54006, 54007, 54008, 54009, 54010, 54011, 54012, 54013, 54014, 54015, 54016, 54017, 54018, 54019, 54020], 'Alison': [81217, 81218, 81219, 81220, 81221, 81222, 81223, 81224, 81225, 81226, 81227, 81228, 81229, 81230, 81231, 81232, 81233, 81234, 81235, 81236, 81237, 81238], 'Allen': [51024, 51025, 51026, 51027, 51028, 51029, 51030, 51031, 51032, 51033, 51034, 51035, 51036, 51037, 51038, 51039, 51040, 51041, 51042, 51043, 51044, 51045, 51046, 51047, 51048, 51049, 51050, 51051, 51052, 51053, 51054, 51055, 51056, 51057, 51058, 51059, 51060, 51061, 51062, 51063, 51064, 51065, 51066, 51067, 51068, 51069, 51070, 51071, 51072, 51073, 51074, 51075, 51076, 51077, 51078, 51079, 51080, 51081, 51082, 51083, 51084, 51085, 51086, 51087, 51088, 51089, 51090, 51091, 51092, 51093, 51094, 51095, 51096, 51097, 51098, 51099, 51100, 51101, 51102, 51103, 51104, 51105, 51106, 51107, 51108, 51109, 51110, 51111, 51112, 51113, 51114, 51115, 51116, 51117, 51118, 51119, 51120, 51121, 51122, 51123, ...], 'Allison': [38283, 38284, 38285, 38286, 38287, 38288, 38289, 38290, 38291, 38292, 38293, 38294, 38295, 38296, 38297, 38298, 38299, 38300, 38301, 38302, 38303, 38304, 38305, 38306, 38307, 38308, 38309, 38310, 38311, 38312, 38313, 38314, 38315, 38316, 38317, 38318, 38319, 38320, 38321, 38322, 38323, 38324, 38325, 38326, 38327, 38328, 38329, 38330, 38331, 38332, 38333, 38334, 38335, 38336, 38337, 38338, 38339, 38340, 38341, 38342, 38343, 38344, 38345, 38346, 38347, 38348, 38349, 38350, 38351, 38352, 38353, 38354, 38355, 38356, 38357, 38358, 38359, 38360, 38361, 38362, 38363, 38364, 38365, 38366, 38367, 38368, 38369, 38370, 38371, 38372, 38373, 38374, 38375, 38376, 38377, 38378, 38379, 38380, 38381, 38382, ...], 'Alonzo': [60846, 60847, 60848, 60849, 60850, 60851, 60852, 60853, 60854, 60855, 60856, 60857, 60858, 60859, 60860, 60861, 60862, 60863, 60864, 60865, 60866, 60867, 60868, 60869, 60870, 60871, 60872, 60873, 60874, 60875, 60876, 60877, 60878, 60879, 60880, 60881, 60882, 60883, 60884, 60885, 60886, 60887, 60888, 60889, 60890, 60891, 60892, 60893, 60894, 60895], 'Alvin': [477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572, 573, 574, 575, 576, ...], 'Alyssa': [92364, 92365, 92366, 92367, 92368, 92369, 92370, 92371, 92372, 92373, 92374, 92375, 92376, 92377, 92378, 92379, 92380, 92381, 92382, 92383, 92384, 92385, 92386, 92387, 92388, 92389, 92390, 92391, 92392, 92393, 92394, 92395, 92396, 92397, 92398, 92399, 92400, 92401, 92402, 92403, 92404, 92405, 92406, 92407, 92408, 92409, 92410, 92411, 92412, 92413, 92414, 92415, 92416, 92417, 92418, 92419, 92420, 92421, 92422, 92423, 92424, 92425, 92426, 92427, 92428, 92429, 92430, 92431, 92432, 92433, 92434, 92435, 92436, 92437, 92438, 92439, 92440, 92441, 92442, 92443, 92444, 92445, 92446, 92447, 92448, 92449, 92450, 92451, 92452, 92453, 92454, 92455, 92456, 92457, 92458, 92459, 92460, 92461, 92462, 92463, ...], 'Amanda': [52332, 52333, 52334, 52335, 52336, 52337, 52338, 52339, 52340, 52341, 52342, 52343, 52344, 52345, 52346, 52347, 52348, 52349, 52350, 52351, 52352, 52353, 52354, 52355, 52356, 52357, 52358, 52359, 52360, 52361, 52362, 52363, 52364, 52365, 52366, 52367, 52368, 52369, 52370, 52371, 52372, 52373, 52374, 52375, 52376, 52377, 52378, 52379, 52380, 52381, 52382, 52383, 52384, 52385, 52386, 52387, 52388, 52389, 52390, 52391, 52392, 52393, 52394, 52395, 52396, 52397, 52398, 52399, 52400, 52401, 52402, 52403, 52404, 52405, 52406, 52407, 52408, 52409, 52410, 52411, 52412, 52413, 52414, 52415, 52416, 52417, 52418, 52419, 52420, 52421, 52422, 52423, 52424, 52425, 52426, 52427, 52428, 52429, 52430, 52431, ...], 'Amy': [39838, 39839, 39840, 39841, 39842, 39843, 39844, 39845, 39846, 39847, 39848, 39849, 39850, 39851, 39852, 39853, 39854, 39855, 39856, 39857, 39858, 39859, 39860, 39861, 39862, 39863, 39864, 39865, 39866, 39867, 39868, 39869, 39870, 39871, 39872, 39873, 39874, 39875, 39876, 39877, 39878, 39879, 39880, 39881, 39882, 39883, 39884, 39885, 39886, 39887, 39888, 39889, 39890, 39891, 39892, 39893, 39894, 39895, 39896, 39897, 39898, 39899, 39900, 39901, 39902, 39903, 39904, 39905, 39906, 39907, 39908, 39909, 39910, 39911, 39912, 39913, 39914, 39915, 39916, 39917, 39918, 39919, 39920, 39921, 39922, 39923, 39924, 39925, 39926, 39927, 39928, 39929, 39930], 'Andrea': [32996, 32997, 32998, 32999, 33000, 33001, 33002, 33003, 33004, 33005, 33006, 33007, 33008, 33009, 33010, 33011, 33012, 33013, 33014, 33015, 33016, 33017, 33018, 33019, 33020, 33021, 33022, 33023, 33024, 33025, 33026, 33027, 33028, 33029, 33030, 33031, 33032, 33033, 33034, 33035, 33036, 33037, 33038, 33039, 33040, 33041, 33042, 33043, 33044, 33045, 33046, 33047, 33048, 33049, 33050, 33051, 33052, 33053, 33054, 33055, 33056, 33057, 33058, 33059, 33060, 33061, 33062, 33063, 33064, 33065, 33066, 33067, 33068, 33069, 33070, 33071, 33072, 33073, 33074, 33075, 33076, 33077, 33078, 33079, 33080, 33081, 33082, 33083, 33084, 33085, 33086, 33087, 33088, 33089, 33090, 33091, 33092, 33093, 33094, 33095, ...], 'Angel': [56561, 56562, 56563, 56564, 56565, 56566, 56567, 56568, 56569, 56570, 56571, 56572, 56573, 56574, 56575, 56576, 56577, 56578, 56579, 56580, 56581, 56582, 56583, 56584, 56585, 56586, 56587, 56588, 56589, 56590, 56591, 56592, 56593, 56594, 56595, 56596, 56597, 56598, 56599, 56600, 56601, 56602, 56603, 56604, 56605, 56606, 56607, 56608, 56609, 56610, 56611, 56612, 56613, 56614, 56615, 56616, 56617, 56618, 56619, 56620, 56621, 56622, 56623, 56624, 56625, 56626, 56627, 56628, 56629, 56630, 56631, 56632, 56633, 56634, 56635, 56636, 56637, 56638, 56639, 56640, 56641, 56642, 56643, 56644, 56645, 56646, 56647, 56648, 56649, 56650, 56651, 56652, 56653, 56654, 56655, 56656, 56657, 56658, 56659, 56660, ...], 'Angela': [30941, 30942, 30943, 30944, 30945, 30946, 30947, 30948, 30949, 30950, 30951, 30952, 30953, 30954, 30955, 30956, 30957, 30958, 30959, 30960, 30961, 30962, 30963, 30964, 30965, 30966, 30967, 30968, 30969, 30970, 30971, 30972, 30973, 30974, 30975, 30976, 30977, 30978, 30979, 30980, 30981, 30982, 30983, 30984, 30985, 30986, 30987, 30988, 30989, 30990, 30991, 30992, 30993, 30994, 30995, 30996, 30997, 30998, 30999, 31000, 31001, 31002, 31003, 31004, 31005, 31006, 31007, 31008, 31009, 31010, 31011, 31012, 31013, 31014, 31015, 31016, 31017, 31018, 31019, 31020, 31021, 31022, 31023, 31024, 31025, 31026, 31027, 31028, 31029, 31030, 31031, 31032, 31033, 31034, 31035, 31036, 31037, 31038, 31039, 31040, ...], 'Angelo': [57258, 57259, 57260, 57261, 57262, 57263, 57264, 57265, 57266, 57267, 57268, 57269, 57270, 57271, 57272, 57273, 57274, 57275, 57276, 57277, 57278, 57279, 57280, 57281, 57282, 57283, 57284, 57285, 57286, 57287, 57288, 57289, 57290, 57291, 57292, 57293, 57294, 57295, 57296, 57297, 57298, 57299, 57300, 57301, 57302, 57303, 57304, 57305, 57306, 57307, 57308, 57309, 57310, 57311, 57312, 57313, 57314, 57315, 57316, 57317, 57318, 57319, 57320, 57321, 57322, 57323, 57324, 57325, 57326, 57327, 57328, 57329, 57330, 57331, 57332, 57333, 57334, 57335, 57336, 57337, 57338, 57339, 57340, 57341, 57342, 57343, 57344, 57345, 57346, 57347, 57348, 57349, 57350, 57351, 57352, 57353, 57354, 57355, 57356, 57357, ...], 'Annette': [94427, 94428, 94429, 94430, 94431, 94432, 94433, 94434, 94435, 94436, 94437, 94438, 94439, 94440, 94441, 94442, 94443, 94444, 94445, 94446, 94447, 94448, 94449, 94450, 94451, 94452, 94453, 94454, 94455, 94456, 94457, 94458, 94459, 94460, 94461, 94462, 94463, 94464, 94465, 94466, 94467, 94468, 94469, 94470, 94471, 94472, 94473, 94474, 94475, 94476, 94477, 94478, 94479, 94480, 94481, 94482, 94483, 94484, 94485, 94486, 94487, 94488, 94489, 94490, 94491, 94492, 94493, 94494, 94495, 94496, 94497, 94498, 94499, 94500, 94501, 94502, 94503, 94504, 94505, 94506, 94507, 94508, 94509, 94510, 94511, 94512, 94513, 94514, 94515, 94516, 94517, 94518, 94519, 94520, 94521, 94522, 94523, 94524, 94525, 94526, ...], 'Anthony': [24432, 24433, 24434, 24435, 24436, 24437, 24438, 24439, 24440, 24441, 24442, 24443, 24444, 24445, 24446, 24447, 24448, 24449, 24450, 24451, 24452, 24453, 24454, 24455, 24456, 24457, 24458, 24459, 24460, 24461, 24462, 24463, 24464, 24465, 24466, 24467, 24468, 24469, 24470, 24471, 24472, 24473, 24474, 24475, 24476, 24477, 24478, 24479, 24480, 24481, 24482, 24483, 24484, 24485, 24486, 24487, 24488, 24489, 24490, 24491, 24492, 24493, 24494, 24495, 24496, 24497, 24498, 24499, 24500, 24501, 24502, 24503, 24504, 24505, 24506, 24507, 24508, 24509, 24510, 24511, 24512, 24513, 24514, 24515, 24516, 24517, 24518, 24519, 24520, 24521, 24522, 24523, 24524, 24525, 24526, 24527, 24528, 24529, 24530, 24531, ...], 'Arlene': [1785, 1786, 1787, 1788, 1789, 1790, 1791, 1792, 1793, 1794, 1795, 1796, 1797, 1798, 1799, 1800, 1801, 1802, 1803, 1804, 1805, 1806, 1807, 1808, 1809, 1810, 1811, 1812, 1813, 1814, 1815, 1816, 1817, 1818, 1819, 1820, 1821, 1822, 1823, 1824, 1825, 1826, 1827, 1828, 1829, 1830, 1831, 1832, 1833, 1834, 1835, 1836, 1837, 1838, 1839, 1840, 1841, 1842, 1843, 1844, 1845, 1846, 1847, 1848, 1849, 1850, 1851, 1852, 1853, 1854, 1855, 1856, 1857, 1858, 1859, 1860, 1861, 1862, 1863, 1864, 1865, 1866, 1867, 1868, 1869, 1870, 1871, 1872, 1873, 1874, 1875, 1876, 1877, 1878, 1879, 1880, 1881, 1882, 1883, 1884, ...], 'Arthur': [36740, 36741, 36742, 36743, 36744, 36745, 36746, 36747, 36748, 36749, 36750, 36751, 36752, 36753, 36754, 36755, 36756, 36757, 36758, 36759, 36760, 36761, 36762, 36763, 36764, 36765, 36766, 36767, 36768, 36769, 36770, 36771, 36772, 36773, 36774, 36775, 36776, 36777, 36778, 36779, 36780, 36781, 36782, 36783, 36784, 36785, 36786, 36787, 36788, 36789, 36790, 36791, 36792, 36793, 36794, 36795, 36796, 36797, 36798, 36799, 36800, 36801, 36802, 36803, 36804, 36805, 36806, 36807, 36808, 36809, 36810, 36811, 36812, 36813, 36814, 36815, 36816, 36817, 36818, 36819, 36820, 36821, 36822, 36823, 36824, 36825, 36826, 36827, 36828, 36829, 36830, 36831, 36832, 36833, 36834, 36835, 36836, 36837, 36838, 36839, ...], 'Barbara': [6534, 6535, 6536, 6537, 6538, 6539, 6540, 6541, 6542, 6543, 6544, 6545, 6546, 6547, 6548, 6549, 6550, 6551, 6552, 6553, 6554, 6555, 6556, 6557, 6558, 6559, 6560, 6561, 6562, 6563, 6564, 6565, 6566, 6567, 6568, 6569, 6570, 6571, 6572, 6573, 6574, 6575, 6576, 6577, 6578, 6579, 6580, 6581, 6582, 6583, 6584, 6585, 6586, 6587, 6588, 6589, 6590, 6591, 6592, 6593, 6594, 6595, 6596, 6597, 6598, 6599, 6600, 6601, 6602, 6603, 6604, 6605, 6606, 6607, 6608, 6609, 6610, 6611, 6612, 6613, 6614, 6615, 6616, 6617, 6618, 6619, 6620, 6621, 6622, 6623, 6624, 6625, 6626, 6627, 6628, 6629, 6630, 6631, 6632, 6633, ...], 'Barry': [17395, 17396, 17397, 17398, 17399, 17400, 17401, 17402, 17403, 17404, 17405, 17406, 17407, 17408, 17409, 17410, 17411, 17412, 17413, 17414, 17415, 17416, 17417, 17418, 17419, 17420, 17421, 17422, 17423, 17424, 17425, 17426, 17427, 17428, 17429, 17430, 17431, 17432, 17433, 17434, 17435, 17436, 17437, 17438], 'Beatrice': [3916, 3917, 3918, 3919, 3920, 3921, 3922, 3923, 3924, 3925, 3926, 3927, 3928, 3929, 3930, 3931, 3932, 3933, 3934, 3935, 3936], 'Benjamin': [83657, 83658, 83659, 83660, 83661, 83662, 83663, 83664, 83665, 83666, 83667, 83668, 83669, 83670, 83671, 83672, 83673, 83674, 83675, 83676, 83677, 83678, 83679, 83680, 83681, 83682, 83683, 83684, 83685, 83686, 83687, 83688, 83689, 83690, 83691, 83692, 83693, 83694, 83695, 83696, 83697, 83698, 83699, 83700, 83701, 83702, 83703, 83704, 83705, 83706, 83707, 83708, 83709, 83710, 83711, 83712, 83713, 83714, 83715, 83716, 83717, 83718, 83719, 83720, 83721, 83722, 83723, 83724, 83725, 83726, 83727, 83728, 83729, 83730, 83731, 83732, 83733, 83734, 83735, 83736, 83737, 83738, 83739, 83740, 83741, 83742, 83743, 83744, 83745, 83746, 83747, 83748, 83749, 83750, 83751, 83752, 83753, 83754, 83755, 83756, ...], 'Beverly': [38990, 38991, 38992, 38993, 38994, 38995, 38996, 38997, 38998, 38999, 39000, 39001, 39002, 39003, 39004, 39005, 39006, 39007, 39008, 39009, 39010, 39011, 39012, 39013, 39014, 39015, 39016, 39017, 39018, 39019, 39020, 39021, 39022, 39023, 39024, 39025, 39026, 39027, 39028, 39029, 39030, 39031, 39032, 39033, 39034, 39035, 39036, 39037, 39038], 'Billy': [81499, 81500, 81501, 81502, 81503, 81504, 81505, 81506, 81507, 81508, 81509, 81510, 81511, 81512, 81513, 81514, 81515, 81516, 81517, 81518, 81519, 81520, 81521, 81522, 81523, 81524, 81525, 81526, 81527, 81528, 81529, 81530, 81531, 81532, 81533, 81534, 81535, 81536, 81537, 81538, 81539, 81540, 81541, 81542, 81543, 81544, 81545, 81546, 81547, 81548, 81549, 81550, 81551, 81552, 81553, 81554, 81555, 81556, 81557, 81558, 81559, 81560, 81561, 81562, 81563, 81564, 81565, 81566, 81567, 81568, 81569, 81570, 81571, 81572, 81573, 81574, 81575, 81576, 81577, 81578, 81579, 81580, 81581, 81582, 81583, 81584, 81585, 81586, 81587, 81588, 81589, 81590, 81591, 81592, 81593, 81594, 81595, 81596, 81597, 81598, ...], 'Brandi': [86365, 86366, 86367, 86368, 86369, 86370, 86371, 86372, 86373, 86374, 86375, 86376, 86377, 86378, 86379, 86380, 86381, 86382, 86383, 86384, 86385, 86386, 86387, 86388, 86389, 86390, 86391, 86392, 86393, 86394, 86395, 86396, 86397, 86398, 86399, 86400, 86401, 86402, 86403, 86404, 86405, 86406, 86407, 86408, 86409, 86410, 86411, 86412, 86413, 86414, 86415, 86416, 86417, 86418, 86419, 86420, 86421, 86422, 86423, 86424, 86425, 86426, 86427, 86428, 86429, 86430, 86431, 86432, 86433, 86434, 86435, 86436, 86437, 86438, 86439, 86440, 86441, 86442, 86443, 86444, 86445, 86446, 86447, 86448, 86449, 86450, 86451, 86452, 86453, 86454, 86455, 86456, 86457, 86458, 86459, 86460, 86461, 86462, 86463, 86464, ...], 'Brenda': [83494, 83495, 83496, 83497, 83498, 83499, 83500, 83501, 83502, 83503, 83504, 83505, 83506, 83507, 83508, 83509, 83510, 83511, 83512, 83513, 83514, 83515, 83516, 83517, 83518, 83519, 83520, 83521, 83522, 83523, 83524, 83525, 83526, 83527, 83528, 83529, 83530, 83531, 83532, 83533, 83534, 83535, 83536, 83537, 83538, 83539, 83540, 83541, 83542, 83543, 83544, 83545, 83546, 83547, 83548, 83549, 83550, 83551, 83552, 83553, 83554, 83555, 83556, 83557, 83558, 83559, 83560, 83561, 83562, 83563, 83564, 83565, 83566, 83567, 83568, 83569], 'Brenton': [13256, 13257, 13258, 13259, 13260, 13261, 13262, 13263, 13264, 13265, 13266, 13267, 13268, 13269, 13270, 13271, 13272, 13273, 13274, 13275

In [32]:
aa.get_group('Aaron')

,Order Id,Company Id,Company Name,Date,Val,Sale,Sales Rep,Sales Rep Id
25612,3BJY12LWBN7D0GJL,CE4544HJOFMONMH2,Follow-Up Boundary,2014-09-04,1940,0,Aaron Hendrickson,AEMLQ09IYM72ACBL
25613,W3HHOSC1H6A1PW37,CE4544HJOFMONMH2,Follow-Up Boundary,2015-09-24,2109,0,Aaron Hendrickson,AEMLQ09IYM72ACBL
25614,G9JKIZO4WD945GBH,CE4544HJOFMONMH2,Follow-Up Boundary,2014-12-06,4300,1,Aaron Hendrickson,AEMLQ09IYM72ACBL
25615,BKIJVKZ7REVN6P8B,CE4544HJOFMONMH2,Follow-Up Boundary,2017-05-07,3026,0,Aaron Hendrickson,AEMLQ09IYM72ACBL
25616,WFHGWR4PAD04A2GJ,CE4544HJOFMONMH2,Follow-Up Boundary,2016-01-20,5033,0,Aaron Hendrickson,AEMLQ09IYM72ACBL
...,...,...,...,...,...,...,...,...
25899,NATK7K3TZUH32BBE,CGDGXAW6GNU6JIEG,Fiftieth Art'S,2015-01-27,6095,1,Aaron Hendrickson,AEMLQ09IYM72ACBL
25900,EGD6IRB0UML62XB0,CGDGXAW6GNU6JIEG,Fiftieth Art'S,2018-11-04,7652,1,Aaron Hendrickson,AEMLQ09IYM72ACBL
25901,9Z18A7D1T8EUH58D,CGDGXAW6GNU6JIEG,Fiftieth Art'S,2016-05-08,4746,0,Aaron Hendrickson,AEMLQ09IYM72ACBL
25902,R0LUW64V2F3O2HSD,CGDGXAW6GNU6JIEG,Fiftieth Art'S,2017-02-16,6158,0,Aaron Hendrickson,AEMLQ09IYM72ACBL
25903,UMHMBM5M179IHX6D,CGDGXAW6GNU6JIEG,Fiftieth Art'S,2017-07-28,2164,0,Aaron Hendrickson,AEMLQ09IYM72ACBL

In [33]:
# aa=df['Sales Rep'][df['Sales Rep'].apply(lambda x:'Ida Woodward' in x)]
# xx=df.groupby(aa)
# display(xx)

In [34]:
# a=df['Sales Rep'].apply(lambda x:'Ida Woodward' in x)
# display(a)
# xx=df.groupby(a)
# xx=df.groupby(df['Sales Rep'].apply(lambda x:'Ida Woodward' in x)).size()
xx=df.groupby(df['Sales Rep'].apply(lambda x:'Ida Woodward' in x))
display(xx)

In [35]:
xx.groups

{False: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...], True: [99877, 99878, 99879, 99880, 99881, 99882, 99883, 99884, 99885, 99886, 99887, 99888, 99889, 99890, 99891, 99892, 99893, 99894, 99895, 99896, 99897, 99898, 99899, 99900, 99901, 99902, 99903, 99904, 99905, 99906, 99907, 99908, 99909, 99910, 99911, 99912, 99913, 99914, 99915, 99916, 99917, 99918, 99919, 99920, 99921, 99922, 99923, 99924, 99925, 99926, 99927, 99928, 99929, 99930, 99931, 99932, 99933, 99934, 99935, 99936, 99937, 99938, 99939, 99940, 99941, 99942, 99943, 99944, 99945, 99946, 99947, 99948, 99949, 99950, 99951, 99952, 99953, 99954, 99955, 99956, 99957, 99958, 99959, 99960, 99961, 99962, 99963, 99964, 99965, 99966, 99967, 99968, 99969, 99970, 99971, 99972, 99973, 99974, 99975, 99976, ...]}

In [36]:
xx.get_group(True)

,Order Id,Company Id,Company Name,Date,Val,Sale,Sales Rep,Sales Rep Id
99877,KEKW1YZ35ZY8A14T,TDBGMS6EESGKM43I,Diabetic Red'S,2014-11-25,8678,1,Ida Woodward,LF3CPWWZKSNB1AXI
99878,MVG2ASG8Z6CKQQT4,TDBGMS6EESGKM43I,Diabetic Red'S,2017-11-20,7952,0,Ida Woodward,LF3CPWWZKSNB1AXI
99879,YGUFDMCSJN8L8PFE,TDBGMS6EESGKM43I,Diabetic Red'S,2015-03-29,3045,0,Ida Woodward,LF3CPWWZKSNB1AXI
99880,LHBE9SQKXAKDKFF4,TDBGMS6EESGKM43I,Diabetic Red'S,2016-06-11,4457,0,Ida Woodward,LF3CPWWZKSNB1AXI
99881,ST8TMPU9NBSZONLA,TDBGMS6EESGKM43I,Diabetic Red'S,2015-01-23,7216,0,Ida Woodward,LF3CPWWZKSNB1AXI
...,...,...,...,...,...,...,...,...
99995,HKZFX556ZQRZJZWR,APH243SK72T90MPS,Trade-Preparatory Quarterbacks,2017-11-06,7516,0,Ida Woodward,LF3CPWWZKSNB1AXI
99996,962CSDMAJ49E0CRK,APH243SK72T90MPS,Trade-Preparatory Quarterbacks,2018-08-02,442,1,Ida Woodward,LF3CPWWZKSNB1AXI
99997,ZW7RO9TLL6EVVJEC,APH243SK72T90MPS,Trade-Preparatory Quarterbacks,2014-11-02,8544,0,Ida Woodward,LF3CPWWZKSNB1AXI
99998,LNKGIWMZ9RT49IE9,APH243SK72T90MPS,Trade-Preparatory Quarterbacks,2017-04-01,6650,0,Ida Woodward,LF3CPWWZKSNB1AXI
99999,X9Y21H4JWX6OGC2Z,APH243SK72T90MPS,Trade-Preparatory Quarterbacks,2016-07-27,953,0,Ida Woodward,LF3CPWWZKSNB1AXI

Grouper

In [37]:
grouperxx=df.groupby(pd.Grouper(key='Date',freq='Y'))
display(grouperxx)

In [38]:
grouperxx.groups

{Timestamp('2014-12-31 00:00:00', freq='A-DEC'): 19956,
 Timestamp('2015-12-31 00:00:00', freq='A-DEC'): 40010,
 Timestamp('2016-12-31 00:00:00', freq='A-DEC'): 60143,
 Timestamp('2017-12-31 00:00:00', freq='A-DEC'): 80222,
 Timestamp('2018-12-31 00:00:00', freq='A-DEC'): 100000}

In [39]:
bb=df.groupby(['Company Name','Company Id'])
display(bb)

In [40]:
bb.groups

{(''Nough Demolition', '3640BAPWRTQIXF3R'): [17923, 17924, 17925, 17926, 17927, 17928, 17929, 17930, 17931, 17932, 17933, 17934, 17935, 17936, 17937, 17938, 17939, 17940, 17941, 17942, 17943, 17944, 17945, 17946, 17947, 17948, 17949, 17950, 17951, 17952, 17953], ('1/50Th Stipulation', 'Q0PXOGEN1DBVW2Q7'): [68931, 68932, 68933, 68934, 68935, 68936, 68937, 68938, 68939, 68940, 68941, 68942, 68943, 68944, 68945, 68946, 68947, 68948, 68949], ('10-Hour Bestseller', 'GYZ4374XKSVCTJ3T'): [70112, 70113, 70114, 70115, 70116, 70117, 70118, 70119, 70120, 70121, 70122, 70123, 70124, 70125, 70126, 70127, 70128, 70129, 70130, 70131, 70132, 70133, 70134, 70135, 70136, 70137, 70138], ('10-Team Formats', 'DSN6E794SPKNF8R1'): [88450, 88451, 88452, 88453, 88454, 88455, 88456, 88457, 88458, 88459, 88460, 88461, 88462, 88463, 88464, 88465], ('10-Year Presentation', 'CNT5Q5DFHG84M27G'): [96351, 96352, 96353, 96354, 96355, 96356, 96357, 96358, 96359, 96360, 96361, 96362, 96363, 96364, 96365, 96366, 96367, 96368], ('100-Million-Lb. Cranes', '7FJWMCATNC54Z0WP'): [90344, 90345, 90346, 90347, 90348, 90349, 90350, 90351, 90352, 90353, 90354, 90355, 90356, 90357, 90358], ('100-Ton Rainier', 'NIIWR7AP986BMTFK'): [85970, 85971, 85972, 85973, 85974, 85975, 85976, 85977, 85978, 85979, 85980, 85981, 85982, 85983, 85984, 85985, 85986, 85987, 85988, 85989, 85990, 85991, 85992, 85993, 85994], ('11-Inch Brushing', '6T6JQ1D0WYAKHZ5Y'): [56750, 56751, 56752, 56753, 56754, 56755, 56756, 56757, 56758, 56759, 56760, 56761, 56762, 56763, 56764, 56765, 56766, 56767, 56768, 56769, 56770, 56771, 56772, 56773, 56774], ('11-Shot Compulsivity', '2EVMPYUSHEB6IV8C'): [55299, 55300, 55301, 55302, 55303, 55304, 55305, 55306, 55307, 55308, 55309, 55310, 55311, 55312, 55313, 55314, 55315, 55316, 55317, 55318, 55319, 55320, 55321, 55322], ('11-Year-Old Aeration', 'P00WF6LB18SRTW5Q'): [85352, 85353, 85354, 85355, 85356, 85357, 85358, 85359, 85360, 85361, 85362, 85363, 85364, 85365, 85366, 85367, 85368, 85369, 85370, 85371, 85372, 85373], ('11-Year-Old Squires', 'F7Q7I30CCBNMW4H1'): [82084, 82085, 82086, 82087, 82088, 82089, 82090, 82091, 82092, 82093, 82094, 82095, 82096, 82097, 82098, 82099, 82100, 82101, 82102, 82103, 82104, 82105], ('12-Inch Diarrhoea', 'E8IO2GO3NR1FMBB6'): [6286, 6287, 6288, 6289, 6290, 6291, 6292, 6293, 6294, 6295, 6296, 6297, 6298, 6299, 6300, 6301, 6302, 6303, 6304, 6305, 6306, 6307], ('12-Inch Joplin', 'I332B0NQRX0ZLTM4'): [19068, 19069, 19070, 19071, 19072, 19073, 19074, 19075, 19076, 19077, 19078, 19079, 19080, 19081, 19082, 19083, 19084, 19085, 19086, 19087, 19088, 19089], ('12-Month Old-Grad-Type', 'Y6FPHCUC1GM6GP0V'): [35548, 35549, 35550, 35551, 35552, 35553, 35554, 35555, 35556, 35557, 35558, 35559, 35560, 35561, 35562, 35563, 35564, 35565, 35566, 35567], ('12-Month Originals', 'L629P4DL9E15WQF6'): [91517, 91518, 91519, 91520, 91521, 91522, 91523, 91524, 91525, 91526, 91527, 91528, 91529, 91530, 91531, 91532, 91533, 91534], ('12-Oz. Vulturidae', 'NID9GJT5Z4N8Q1RM'): [40149, 40150, 40151, 40152, 40153, 40154, 40155, 40156, 40157, 40158, 40159, 40160, 40161, 40162, 40163, 40164, 40165, 40166, 40167, 40168, 40169, 40170, 40171, 40172, 40173, 40174], ('12-Shot Fatalities', '3ROCB59TZW19ALR5'): [65792, 65793, 65794, 65795, 65796, 65797, 65798, 65799, 65800, 65801, 65802, 65803, 65804, 65805, 65806, 65807, 65808, 65809, 65810, 65811, 65812, 65813, 65814], ('1200-Square-Foot Artisans', 'T4YVESAGGUFJ3UHT'): [33909, 33910, 33911, 33912, 33913, 33914, 33915, 33916, 33917, 33918, 33919, 33920, 33921, 33922, 33923, 33924, 33925, 33926, 33927, 33928, 33929, 33930, 33931, 33932, 33933], ('1200-Square-Foot Childishness', 'I2G39UHG9M3S2H0K'): [50191, 50192, 50193, 50194, 50195, 50196, 50197, 50198, 50199, 50200, 50201, 50202, 50203, 50204, 50205, 50206, 50207, 50208, 50209], ('1200-Square-Foot Hem', '3S15XEDW8GLFA4EC'): [29641, 29642, 29643, 29644, 29645, 29646, 29647, 29648, 29649, 29650, 29651, 29652, 29653, 29654, 29655, 29656, 29657, 29658, 29659, 29660, 29661, 29662, 29663, 29664, 29665], ('13/16-Inch Forests', 'N12T6AQ2DAXV8V58'): [43743, 43744, 43745, 43746, 43747, 43748, 43749, 43750, 43751, 43752, 43753, 43754, 43755, 43756, 43757, 43758, 43759, 43760, 43761], ('13/16-Inch Technicalities', 'CGZAVAGDZ99W91VM'): [66174, 66175, 66176, 66177, 66178, 66179, 66180, 66181, 66182, 66183, 66184, 66185, 66186, 66187, 66188, 66189, 66190, 66191, 66192], ('139-Foot Battlements', 'JV5VN3Z9K05STGA3'): [9972, 9973, 9974, 9975, 9976, 9977, 9978, 9979, 9980, 9981, 9982, 9983, 9984, 9985, 9986, 9987, 9988, 9989, 9990], ('15-Degree Wissahickon', 'GZJ6P1H6CJGU8M1P'): [6961, 6962, 6963, 6964, 6965, 6966, 6967, 6968, 6969, 6970, 6971, 6972, 6973, 6974, 6975, 6976, 6977, 6978, 6979, 6980, 6981, 6982], ('15-To-One Aces', 'J137U0ET3GO7UG5G'): [98815, 98816, 98817, 98818, 98819, 98820, 98821, 98822, 98823, 98824, 98825, 98826, 98827, 98828, 98829, 98830, 98831, 98832, 98833, 98834, 98835, 98836, 98837], ('150-Milliampere Highwayman', 'YAEWX5BON6PD96LH'): [52306, 52307, 52308, 52309, 52310, 52311, 52312, 52313, 52314, 52315, 52316, 52317, 52318, 52319, 52320, 52321, 52322, 52323, 52324, 52325, 52326, 52327, 52328, 52329, 52330, 52331], ('150-Milliampere Peal', 'HK9WOVDU9PJSBM03'): [50491, 50492, 50493, 50494, 50495, 50496, 50497, 50498, 50499, 50500, 50501, 50502, 50503, 50504, 50505, 50506, 50507, 50508, 50509, 50510, 50511, 50512, 50513, 50514], ('150-Milliampere Vice', '5S725KTL2FD9O48S'): [83177, 83178, 83179, 83180, 83181, 83182, 83183, 83184, 83185, 83186, 83187, 83188, 83189, 83190, 83191, 83192, 83193, 83194, 83195, 83196, 83197, 83198, 83199, 83200, 83201, 83202, 83203], ('16-Hour Networks'', 'Q9WOZURHSJVLIXPH'): [30058, 30059, 30060, 30061, 30062, 30063, 30064, 30065, 30066, 30067, 30068, 30069, 30070, 30071, 30072, 30073, 30074, 30075, 30076, 30077, 30078, 30079, 30080, 30081, 30082, 30083, 30084], ('165-Unit Hindus', 'S81I5Q4812JF1Q3M'): [50880, 50881, 50882, 50883, 50884, 50885, 50886, 50887, 50888, 50889, 50890, 50891, 50892, 50893, 50894], ('16Th Want', 'LSYSS8DR8QVBXRYP'): [34579, 34580, 34581, 34582, 34583, 34584, 34585, 34586, 34587, 34588, 34589, 34590, 34591, 34592, 34593], ('17-1/2-Inch Capitalists', '3HJXXR6ZRO5DTWRR'): [7091, 7092, 7093, 7094, 7095, 7096, 7097, 7098, 7099, 7100, 7101, 7102, 7103, 7104, 7105, 7106, 7107, 7108, 7109, 7110, 7111, 7112, 7113], ('17-1/2-Inch Sandburg'S', 'HW4IIGEZ2UITQMT5'): [61187, 61188, 61189, 61190, 61191, 61192, 61193, 61194, 61195, 61196, 61197, 61198, 61199, 61200, 61201, 61202, 61203, 61204, 61205, 61206, 61207, 61208, 61209, 61210, 61211, 61212, 61213, 61214, 61215, 61216], ('172Nd Face-Lifting', 'VOMG3I04YU34YZEE'): [49805, 49806, 49807, 49808, 49809, 49810, 49811, 49812, 49813, 49814, 49815, 49816, 49817, 49818, 49819, 49820, 49821, 49822, 49823, 49824, 49825, 49826, 49827, 49828, 49829, 49830, 49831], ('18-1/2-Inch Dukes', '6TGR8JJO1FC8E013'): [19728, 19729, 19730, 19731, 19732, 19733, 19734, 19735, 19736, 19737, 19738, 19739, 19740, 19741, 19742, 19743, 19744], ('1800-Square-Foot Subsoil', '769ZVTG0GXLLSBXF'): [19523, 19524, 19525, 19526, 19527, 19528, 19529, 19530, 19531, 19532, 19533, 19534, 19535, 19536, 19537, 19538, 19539], ('185Th Passer-By', 'SDZZ2P1XEWL290ZF'): [54996, 54997, 54998, 54999, 55000, 55001, 55002, 55003, 55004, 55005, 55006, 55007, 55008, 55009, 55010, 55011, 55012, 55013, 55014], ('18Th Habits', '7Y0KLFO3M2SZD8FW'): [70855, 70856, 70857, 70858, 70859, 70860, 70861, 70862, 70863, 70864, 70865, 70866, 70867, 70868, 70869, 70870, 70871, 70872, 70873], ('18Th Sexton', '8L5MNV9E7QOBFFFY'): [52657, 52658, 52659, 52660, 52661, 52662, 52663, 52664, 52665, 52666, 52667, 52668, 52669, 52670, 52671, 52672, 52673, 52674, 52675], ('19-Foot Carwood'S', 'PQ63Q8IYOGKLD3RX'): [69109, 69110, 69111, 69112, 69113, 69114, 69115, 69116, 69117, 69118, 69119, 69120, 69121, 69122, 69123, 69124, 69125, 69126, 69127], ('19-Foot Harness', 'NX4AG2RZP87WYAY4'): [43831, 43832, 43833, 43834, 43835, 43836, 43837, 43838, 43839, 43840, 43841, 43842, 43843, 43844, 43845, 43846, 43847, 43848, 43849, 43850, 43851, 43852, 43853], ('195-Page Miriani'S', 'Q6046DTQP34SMEGJ'): [9385, 9386, 9387, 9388, 9389, 9390, 9391, 9392, 9393, 9394, 9395, 9396, 9397, 9398, 9399, 9400, 9401, 9402], ('2-Hour-And-27-Minute Armpit', 'V0SG47KG1CAQ0BT5'): [7114, 7115, 7116, 7117, 7118, 7119, 7120, 7121, 7122, 7123, 7124, 7125, 7126, 7127, 7128, 7129, 7130, 7131, 7132, 7133, 7134, 7135, 7136, 7137, 7138, 7139, 7140], ('2-Over-Par Ardor', 'CDZANQZQNHXK4Q2K'): [81404, 81405, 81406, 81407, 81408, 81409, 81410, 81411, 81412, 81413, 81414, 81415, 81416, 81417, 81418, 81419, 81420, 81421, 81422, 81423, 81424, 81425, 81426, 81427, 81428, 81429], ('2-Over-Par Someplace', 'BJABGEBDDN5AT9T9'): [60240, 60241, 60242, 60243, 60244, 60245, 60246, 60247, 60248, 60249, 60250, 60251, 60252, 60253, 60254, 60255, 60256, 60257, 60258, 60259, 60260, 60261, 60262, 60263], ('2-Score-Year Brewers', '02AO8LNGPSMR4FP4'): [60661, 60662, 60663, 60664, 60665, 60666, 60667, 60668, 60669, 60670, 60671, 60672, 60673, 60674, 60675, 60676, 60677, 60678], ('20-Year-Old Lawman'S', 'FR6XOD5E2HJIKT1O'): [84812, 84813, 84814, 84815, 84816, 84817, 84818, 84819, 84820, 84821, 84822, 84823, 84824, 84825, 84826, 84827, 84828, 84829], ('200-Megaton Institution', 'NX0BWU465F85X514'): [8474, 8475, 8476, 8477, 8478, 8479, 8480, 8481, 8482, 8483, 8484, 8485, 8486, 8487, 8488, 8489, 8490, 8491, 8492], ('205-Pound Woodrow', 'L2DRLDIQXLIC1CK9'): [86115, 86116, 86117, 86118, 86119, 86120, 86121, 86122, 86123, 86124, 86125, 86126, 86127, 86128, 86129, 86130, 86131, 86132, 86133, 86134, 86135, 86136, 86137], ('22-Year-Old Homecomings', '3ZZQIJYZCWOA9FM4'): [18409, 18410, 18411, 18412, 18413, 18414, 18415, 18416, 18417, 18418, 18419, 18420, 18421, 18422, 18423, 18424, 18425, 18426, 18427, 18428, 18429, 18430, 18431, 18432, 18433], ('22-Year-Old Utmost', 'IT5Q9EOC80W10Z9Y'): [17651, 17652, 17653, 17654, 17655, 17656, 17657, 17658, 17659, 17660, 17661, 17662, 17663, 17664, 17665, 17666, 17667, 17668, 17669, 17670, 17671, 17672, 17673, 17674, 17675, 17676, 17677, 17678, 17679, 17680, 17681, 17682, 17683, 17684, 17685], ('23-Year-Old Swiftness', 'YGHWC9ASFUS5ZXC4'): [89468, 89469, 89470, 89471, 89472, 89473, 89474, 89475, 89476, 89477, 89478, 89479, 89480, 89481, 89482, 89483, 89484, 89485, 89486, 89487, 89488, 89489], ('24-Hour Fatigue', '8XHJJCX3HBX99J9D'): [31229, 31230, 31231, 31232, 31233, 31234, 31235, 31236, 31237, 31238, 31239, 31240, 31241, 31242, 31243, 31244, 31245, 31246, 31247, 31248], ('24-Hour Pyrometers', '4F7D7THP3WI0G1O0'): [89826, 89827, 89828, 89829, 89830, 89831, 89832, 89833, 89834, 89835, 89836, 89837, 89838, 89839, 89840, 89841, 89842, 89843, 89844, 89845, 89846, 89847, 89848, 89849, 89850, 89851, 89852, 89853, 89854], ('24-Inch Knobs', 'DI9HULE3VWZLB2FC'): [10317, 10318, 10319, 10320, 10321, 10322, 10323, 10324, 10325, 10326, 10327, 10328, 10329, 10330, 10331, 10332], ('240-Grain Eugenia', 'N5GW4IIR67F9ZP2W'): [24432, 24433, 24434, 24435, 24436, 24437, 24438, 24439, 24440, 24441, 24442, 24443, 24444, 24445, 24446, 24447, 24448], ('240-Grain Felt', '68PVTF1X8E4D0WM6'): [80159, 80160, 80161, 80162, 80163, 80164, 80165, 80166, 80167, 80168, 80169, 80170, 80171, 80172, 80173, 80174, 80175, 80176, 80177, 80178, 80179, 80180, 80181, 80182], ('25,000-Man Insertions', '62TBVFCJLXNQCT8R'): [36999, 37000, 37001, 37002, 37003, 37004, 37005, 37006, 37007, 37008, 37009, 37010, 37011, 37012, 37013, 37014, 37015, 37016, 37017, 37018, 37019, 37020], ('25,000-Man Newspapers', '2YGSU6PPYQ8XDH2I'): [58077, 58078, 58079, 58080, 58081, 58082, 58083, 58084, 58085, 58086, 58087, 58088, 58089, 58090, 58091, 58092, 58093, 58094, 58095, 58096, 58097, 58098, 58099, 58100, 58101, 58102, 58103, 58104, 58105], ('25-Foot Belaboring', '89QUHJXH44IMC2X8'): [79925, 79926, 79927, 79928, 79929, 79930, 79931, 79932, 79933, 79934, 79935, 79936, 79937, 79938, 79939, 79940, 79941, 79942, 79943, 79944, 79945, 79946, 79947], ('25-Ft. Germany', 'MH8YONWKJBA7YG71'): [84496, 84497, 84498, 84499, 84500, 84501, 84502, 84503, 84504, 84505, 84506, 84507, 84508, 84509, 84510, 84511, 84512, 84513, 84514, 84515, 84516, 84517, 84518, 84519, 84520], ('25-Liter Almanac', 'OXFSXX5P2AKF0OE1'): [11834, 11835, 11836, 11837, 11838, 11839, 11840, 11841, 11842, 11843, 11844, 11845, 11846, 11847, 11848, 11849, 11850, 11851], ('25-Minute Ignition', 'CMMETDM2N3QTBUIM'): [78992, 78993, 78994, 78995, 78996, 78997, 78998, 78999, 79000, 79001, 79002, 79003, 79004, 79005, 79006, 79007, 79008, 79009, 79010, 79011, 79012, 79013, 79014], ('25-Year-Old Cairns', 'Y3U56LXK0533AFJT'): [82447, 82448, 82449, 82450, 82451, 82452, 82453, 82454, 82455, 82456, 82457, 82458, 82459, 82460, 82461, 82462, 82463, 82464, 82465, 82466, 82467, 82468, 82469, 82470], ('27Th Subjects', '1DHIEWYF4YITE197'): [68738, 68739, 68740, 68741, 68742, 68743, 68744, 68745, 68746, 68747, 68748, 68749, 68750, 68751, 68752, 68753, 68754, 68755, 68756, 68757, 68758, 68759, 68760, 68761, 68762, 68763, 68764, 68765, 68766], ('28Th Assessor', 'ULAOZ0AWOWKFLBLV'): [44115, 44116, 44117, 44118, 44119, 44120, 44121, 44122, 44123, 44124, 44125, 44126, 44127, 44128, 44129, 44130, 44131, 44132, 44133, 44134, 44135, 44136], ('28Th Twinges', 'ML3JHX5SZG7GJY2Y'): [40795, 40796, 40797, 40798, 40799, 40800, 40801, 40802, 40803, 40804, 40805, 40806, 40807, 40808, 40809, 40810, 40811], ('29Th Feature', 'LYCGYCLWLW54BCDY'): [84177, 84178, 84179, 84180, 84181, 84182, 84183, 84184, 84185, 84186, 84187, 84188, 84189, 84190, 84191, 84192, 84193, 84194, 84195, 84196, 84197, 84198], ('29Th Impressions', 'CYIZOQNKQK0WG6DX'): [90156, 90157, 90158, 90159, 90160, 90161, 90162, 90163, 90164, 90165, 90166, 90167, 90168, 90169, 90170, 90171, 90172, 90173], ('2D Tenements', 'UL9XEHCITFQKCI5Y'): [49048, 49049, 49050, 49051, 49052, 49053, 49054, 49055, 49056, 49057, 49058, 49059, 49060, 49061, 49062, 49063, 49064, 49065, 49066, 49067, 49068, 49069, 49070], ('2Nd Lucille', '3CAB63J3M6CR5YGI'): [66061, 66062, 66063, 66064, 66065, 66066, 66067, 66068, 66069, 66070, 66071, 66072, 66073, 66074, 66075, 66076, 66077, 66078, 66079, 66080, 66081, 66082], ('3 Thickets', 'WMEDG0KI91RO5B81'): [989, 990, 991, 992, 993, 994, 995, 996, 997, 998, 999, 1000, 1001, 1002, 1003, 1004, 1005], ('3,000-Foot Tranquilizers', 'PFNAZMDL06LM13PO'): [19709, 19710, 19711, 19712, 19713, 19714, 19715, 19716, 19717, 19718, 19719, 19720, 19721, 19722, 19723, 19724, 19725, 19726, 19727], ('3,000-Foot Wert'S', 'OMXV5KM4HUXGW2DY'): [14729, 14730, 14731, 14732, 14733, 14734, 14735, 14736, 14737, 14738, 14739, 14740, 14741, 14742, 14743, 14744, 14745, 14746, 14747, 14748, 14749, 14750, 14751, 14752, 14753, 14754, 14755], ('3-Game Corn-Belt', '4PCIOWLPTCXUJ1QY'): [99519, 99520, 99521, 99522, 99523, 99524, 99525, 99526, 99527, 99528, 99529, 99530, 99531, 99532, 99533, 99534, 99535, 99536, 99537], ('3-Game Dreams', 'DG8AYW5QCN1JK1VY'): [66107, 66108, 66109, 66110, 66111, 66112, 66113, 66114, 66115, 66116, 66117, 66118, 66119, 66120, 66121, 66122, 66123, 66124, 66125, 66126], ('3-Month Chlorine', 'OWCOADAC4PLQ2J8J'): [38653, 38654, 38655, 38656, 38657, 38658, 38659, 38660, 38661, 38662, 38663, 38664, 38665, 38666, 38667, 38668, 38669, 38670, 38671, 38672, 38673, 38674, 38675, 38676, 38677, 38678, 38679, 38680], ('3-Year-Old Gannon'S', 'BB17XPTJ7JCIE3XH'): [56992, 56993, 56994, 56995, 56996, 56997, 56998, 56999, 57000, 57001, 57002, 57003, 57004, 57005, 57006, 57007, 57008, 57009, 57010, 57011, 57012], ('3-Year-Old Weeping', 'YT9MGDD7COLHP6GW'): [3961, 3962, 3963, 3964, 3965, 3966, 3967, 3968, 3969, 3970, 3971, 3972, 3973, 3974, 3975, 3976, 3977, 3978, 3979, 3980, 3981], ('30-Piece Feeds', 'ZM2M4OUF41GF1UPQ'): [67291, 67292, 67293, 67294, 67295, 67296, 67297, 67298, 67299, 67300, 67301, 67302, 67303, 67304, 67305, 67306, 67307], ('30-Year 320Tr', 'LIX3RKUA5H4UB9SE'): [61055, 61056, 61057, 61058, 61059, 61060, 61061, 61062, 61063, 61064, 61065, 61066, 61067, 61068, 61069, 61070, 61071, 61072, 61073, 61074, 61075], ('30-Year Robards'', 'MWZ2JQCYY4UDEVE5'): [1257, 1258, 1259, 1260, 1261, 1262, 1263, 1264, 1265, 1266, 1267, 1268, 1269, 1270, 1271, 1272, 1273, 1274, 1275, 1276, 1277], ('30-Year Tabit', '3P27N8FUP1HBDIP7'): [11874, 11875, 11876, 11877, 11878, 11879, 11880, 11881, 11882, 11883, 11884, 11885, 11886, 11887, 11888], ('30Th Tracts', 'FI9VUVQOP3EHV0NK'): [64692, 64693, 64694, 64695, 64696, 64697, 64698, 64699, 64700, 64701, 64702, 64703, 64704, 64705, 64706, 64707, 64708, 64709, 64710, 64711, 64712, 64713, 64714, 64715], ('33-Man Sera', '1NH5WSLWENLM1L7K'): [3062, 3063, 3064, 3065, 3066, 3067, 3068, 3069, 3070, 3071, 3072, 3073, 3074, 3075, 3076, 3077, 3078], ('33D Marcello', 'M2FZEW5VWL9JYZVB'): [80969, 80970, 80971, 80972, 80973, 80974, 80975, 80976, 80977, 80978, 80979, 80980, 80981, 80982, 80983, 80984, 80985], ('35-Foot Mullins', '73ERLMLA3D8IXK4D'): [57773, 57774, 57775, 57776, 57777, 57778, 57779, 57780, 57781, 57782, 57783, 57784, 57785, 57786, 57787, 57788, 57789, 57790, 57791, 57792, 57793, 57794], ('350Th Helium', '95TBBS1TFIDTLWSC'): [90136, 90137, 90138, 90139, 90140, 90141, 90142, 90143, 90144, 90145, 90146, 90147, 90148, 90149, 90150, 90151, 90152, 90153, 90154, 90155], ('38-Point Don', '207L45M811RDJYFR'): [95706, 95707, 95708, 95709, 95710, 95711, 95712, 95713, 95714, 95715, 95716, 95717, 95718, 95719, 95720], ('380-Foot Eddie', 'EOZUA69PYYH02TTD'): [89372, 89373, 89374, 89375, 89376, 89377, 89378, 89379, 89380, 89381, 89382, 89383, 89384, 89385, 89386, 89387, 89388, 89389, 89390, 89391, 89392, 89393, 89394, 89395, 89396, 89397], ('3Rd Filter', 'CPEROVGA05ZA58JK'): [55592, 55593, 55594, 55595, 55596, 55597, 55598, 55599, 55600, 55601, 55602, 55603, 55604], ('3Rd Showcase', '6L7RH8GS446TIIA7'): [13502, 13503, 13504, 13505, 13506, 13507, 13508, 13509, 13510, 13511, 13512, 13513, 13514, 13515, 13516, 13517, 13518, 13519, 13520, 13521, 13522, 13523, 13524, 13525, 13526, 13527, 13528, 13529, 13530], ('3Rd Slack', 'QI1XTTXT6PA3UYW5'): [33030, 33031, 33032, 33033, 33034, 33035, 33036, 33037, 33038, 33039, 33040, 33041, 33042, 33043, 33044, 33045, 33046, 33047, 33048, 33049, 33050], ('4,000-Foot Seaton'S', '8MEYHIXVUITSPPX7'): [45770, 45771, 45772, 45773, 45774, 45775, 45776, 45777, 45778, 45779, 45780, 45781, 45782, 45783, 45784], ('4-Under-Par Recommendation', 'V3DB1P61SPDO26HF'): [90332, 90333, 90334, 90335, 90336, 90337, 90338, 90339, 90340, 90341, 90342, 90343], ('4-Year-Old 1870'S', 'W5Z4L33JE34J1MUU'): [47414, 47415, 47416, 47417, 47418, 47419, 47420, 47421, 47422, 47423, 47424, 47425, 47426, 47427, 47428, 47429, 47430, 47431, 47432, 47433, 47434, 47435, 47436, 47437, 47438], ('40-Grain Crozier', 'CT0JAUNXCP2E9YTI'): [22317, 22318, 22319, 22320, 22321, 22322, 22323, 22324, 22325, 22326, 22327, 22328, 22329, 22330, 22331, 22332, 22333, 22334, 22335], ('44-Year-Old Nux', 'XI0QTPM9EH56XZ1M'): [66043, 66044, 66045, 66046, 66047, 66048, 66049, 66050, 66051, 66052, 66053, 66054, 66055, 66056, 66057, 66058, 66059, 66060], ('45-Degree Marum', 'H3OWF844J56QKOKO'): [28793, 28794, 28795, 28796, 28797, 28798, 28799, 28800, 28801, 28802, 28803, 28804, 28805, 28806], ('45-Passenger Bunkmate', 'S35AP35T7FM0K01I'): [73967, 73968, 73969, 73970, 73971, 73972, 73973, 73974, 73975, 73976, 73977, 73978, 73979, 73980, 73981, 73982, 73983, 73984, 73985], ...}

In [41]:
bb.get_group(('1/50Th Stipulation', 'Q0PXOGEN1DBVW2Q7'))

,Order Id,Company Id,Company Name,Date,Val,Sale,Sales Rep,Sales Rep Id
68931,Z8N8ZYWLTOF7HJKJ,Q0PXOGEN1DBVW2Q7,1/50Th Stipulation,2015-05-22,8992,1,Monica March,XTOQD3SVVEJ7MVCN
68932,PWBDGATQQ6ZLH04U,Q0PXOGEN1DBVW2Q7,1/50Th Stipulation,2014-03-19,6109,0,Monica March,XTOQD3SVVEJ7MVCN
68933,TRC53I36Z3TCV00G,Q0PXOGEN1DBVW2Q7,1/50Th Stipulation,2017-10-21,5771,0,Monica March,XTOQD3SVVEJ7MVCN
68934,L8VLGKRV7AW7ME6M,Q0PXOGEN1DBVW2Q7,1/50Th Stipulation,2018-11-13,8154,0,Monica March,XTOQD3SVVEJ7MVCN
68935,GVG30RPMT3K3CFNF,Q0PXOGEN1DBVW2Q7,1/50Th Stipulation,2015-03-29,7446,0,Monica March,XTOQD3SVVEJ7MVCN
68936,O69NM6XMFUDTPN0B,Q0PXOGEN1DBVW2Q7,1/50Th Stipulation,2015-08-01,339,0,Monica March,XTOQD3SVVEJ7MVCN
68937,8NSSXEVVSZ89L0P7,Q0PXOGEN1DBVW2Q7,1/50Th Stipulation,2015-04-30,4514,0,Monica March,XTOQD3SVVEJ7MVCN
68938,TO4GY3102AM27NAH,Q0PXOGEN1DBVW2Q7,1/50Th Stipulation,2014-04-10,1928,0,Monica March,XTOQD3SVVEJ7MVCN
68939,C3D6YZYG2LHKGIF9,Q0PXOGEN1DBVW2Q7,1/50Th Stipulation,2014-03-02,9875,0,Monica March,XTOQD3SVVEJ7MVCN
68940,R0D59K3F8I8P25PR,Q0PXOGEN1DBVW2Q7,1/50Th Stipulation,2017-03-08,5632,0,Monica March,XTOQD3SVVEJ7MVCN
68941,HFF94GC5TINO679A,Q0PXOGEN1DBVW2Q7,1/50Th Stipulation,2016-12-16,3899,0,Monica March,XTOQD3SVVEJ7MVCN
68942,OPG4T6ZW14WL2132,Q0PXOGEN1DBVW2Q7,1/50Th Stipulation,2018-05-17,3279,0,Monica March,XTOQD3SVVEJ7MVCN
68943,C6SCLG128MZJVVRB,Q0PXOGEN1DBVW2Q7,1/50Th Stipulation,2017-08-22,8127,0,Monica March,XTOQD3SVVEJ7MVCN
68944,704LXDMD5ORNUYN1,Q0PXOGEN1DBVW2Q7,1/50Th Stipulation,2016-11-30,9886,0,Monica March,XTOQD3SVVEJ7MVCN
68945,4TDJ20DIQWCEI4YV,Q0PXOGEN1DBVW2Q7,1/50Th Stipulation,2014-04-15,612,1,Monica March,XTOQD3SVVEJ7MVCN
68946,KQTALKUGLLHLKIF9,Q0PXOGEN1DBVW2Q7,1/50Th Stipulation,2014-07-18,2953,0,Monica March,XTOQD3SVVEJ7MVCN
68947,A8UBBR22I81116WH,Q0PXOGEN1DBVW2Q7,1/50Th Stipulation,2014-01-20,6980,0,Monica March,XTOQD3SVVEJ7MVCN
68948,YTI7KTKE98QBP004,Q0PXOGEN1DBVW2Q7,1/50Th Stipulation,2014-10-15,4404,0,Monica March,XTOQD3SVVEJ7MVCN
68949,WDJ38DPR05TCKW3Y,Q0PXOGEN1DBVW2Q7,1/50Th Stipulation,2018-10-07,5017,0,Monica March,XTOQD3SVVEJ7MVCN

In [42]:
 columns=list('ABCDEF')

In [43]:
columns

['A', 'B', 'C', 'D', 'E', 'F']

In [44]:
grouperxx.get_group('2014-12-31').Val.agg('min')

101

In [45]:
df['add']=pd.Series(np.arange(0,99999))

In [46]:
addd=df.groupby('add')

In [47]:
addd.groups

{0.0: [0], 1.0: [1], 2.0: [2], 3.0: [3], 4.0: [4], 5.0: [5], 6.0: [6], 7.0: [7], 8.0: [8], 9.0: [9], 10.0: [10], 11.0: [11], 12.0: [12], 13.0: [13], 14.0: [14], 15.0: [15], 16.0: [16], 17.0: [17], 18.0: [18], 19.0: [19], 20.0: [20], 21.0: [21], 22.0: [22], 23.0: [23], 24.0: [24], 25.0: [25], 26.0: [26], 27.0: [27], 28.0: [28], 29.0: [29], 30.0: [30], 31.0: [31], 32.0: [32], 33.0: [33], 34.0: [34], 35.0: [35], 36.0: [36], 37.0: [37], 38.0: [38], 39.0: [39], 40.0: [40], 41.0: [41], 42.0: [42], 43.0: [43], 44.0: [44], 45.0: [45], 46.0: [46], 47.0: [47], 48.0: [48], 49.0: [49], 50.0: [50], 51.0: [51], 52.0: [52], 53.0: [53], 54.0: [54], 55.0: [55], 56.0: [56], 57.0: [57], 58.0: [58], 59.0: [59], 60.0: [60], 61.0: [61], 62.0: [62], 63.0: [63], 64.0: [64], 65.0: [65], 66.0: [66], 67.0: [67], 68.0: [68], 69.0: [69], 70.0: [70], 71.0: [71], 72.0: [72], 73.0: [73], 74.0: [74], 75.0: [75], 76.0: [76], 77.0: [77], 78.0: [78], 79.0: [79], 80.0: [80], 81.0: [81], 82.0: [82], 83.0: [83], 84.0: [84], 85.0: [85], 86.0: [86], 87.0: [87], 88.0: [88], 89.0: [89], 90.0: [90], 91.0: [91], 92.0: [92], 93.0: [93], 94.0: [94], 95.0: [95], 96.0: [96], 97.0: [97], 98.0: [98], 99.0: [99], ...}

In [48]:
addd.get_group(86.0)

,Order Id,Company Id,Company Name,Date,Val,Sale,Sales Rep,Sales Rep Id,add
86,51EG4MWWYQELKVA0,FDWW0TQRPGMVI2A7,Unhurried Musician'S,2018-09-10,1572,0,William Taylor,ZTZA0ZLYZR85PTUJ,86.0

In [49]:
display(df.value_counts())
display(df['Sales Rep'].value_counts())

Order Id          Company Id        Company Name                  Date        Val   Sale  Sales Rep        Sales Rep Id      add
000YT7YLNCCL91XE  7ZEVLN473PFC3L44  Habitual Mississippi'S        2015-10-17  6123  0     Shawna Strang    7CLCGD76QB5UUWYP  84721.0    1
O00VVP3UZ7UDBDCJ  JVAZDHIGU5LBGOU5  Pressure-Measuring Intuition  2014-04-17  1723  0     Mary Whatley     BIAQJWJU4T2J9UV9  8160.0     1
O0A843P7CJT7BQ41  I4R3DE811JPJXWTT  Unfailing Horse               2018-10-13  6585  0     Leon Huffman     IETVVJ25EJTUUDF6  64778.0    1
O0920R1UXU5HRG5P  12QOGO50YE879ASR  Instant Academies             2015-06-29  6722  0     Julio Woodard    Z5LDV3JJJN5YH6JX  6880.0     1
O08ZDWCUXQKUHSVU  C7WUWBLQ0F2LZ7PP  Hanoverian Silicon            2017-02-08  5921  0     Margaret Costa   UYVCTIFNFPX0HRW7  75348.0    1
                                                                                                                                       ..
C2IKQZTX00V6AM4P  9QEU79VVOSRJTY7M  Stimulating Bumblebees        2016-06-19  9148  0     Julio Woodard    Z5LDV3JJJN5YH6JX  6943.0     1
C2HNTXQWVMX7J0ZQ  YP8HKLUSJYX5XL80  Just Satellite                2018-12-23  7228  0     Alyssa Mckinney  VZ3PI0EC8K8M7NPY  92739.0    1
C2HK9IHOLFZS4BQ9  MFP7UB2DQM304QNV  Communist-Inspired Sets       2015-08-13  6940  1     Donna Mandy      L0HU4HSATZHO2P3B  9154.0     1
C2FR9A9A3KRRZ716  C987YZF6MT0C92IU  Noteworthy Abstractions       2018-05-19  9053  0     Maria Jones      PZ9RLWSSA8OBP4A5  35619.0    1
ZZZLGTRNSTB4RI9O  DQXL1PY3DK0NUG6N  80Th Scorecard                2018-08-20  6002  0     Robin Shaffer    OSTMOXX9SZBITL2K  87783.0    1
Length: 99999, dtype: int64

Jessica Renner      430
Alyssa Mckinney     428
Elizabeth Gaddy     416
Susan Gutierrez     415
Georgiann White     413
                   ...
Viola Ates           18
Debra Vermillion     17
Alfredo Weise        17
Simon Hearn          15
Robert Bowen         15
Name: Sales Rep, Length: 499, dtype: int64